.modules {
  .module {
    width: 100%;

    // margin-bottom: var(--space-xl);
    &:last-child {
      // margin-bottom: 0;
    }

    &.module--liste-talent-ui {
      // @media screen and (min-width: 1080px) {
      //   padding-left: 186px;
      //   padding-right: 186px;
      // }
    }
    &.module--slider-ui {
      .slick-track {
        display: flex;
      }
      &.has-bounding {
        .slick-arrow {
          visibility: visible;
        }
      }
      .slick-slide {
        // transition: height 0.2s;
        display: inline-block;
      }
      .slick-arrow {
        // top: calc(var(--current-slide-h, 100%) - calc(2em * 1.2) + 2px);
        top: calc(var(--current-slide-h, 100%) + 0.2em);
        visibility: hidden;
      }
      img {
        // aspect-ratio: 4 / 3;
        // object-fit: contain;
      }
      figcaption {
        min-height: calc(2em * 1.2);
      }
    }
    &.module--images {
      @media screen and (min-width: 1080px) {
        // .col-span-1.row-span-1 {
        //   width: calc(100% / 3 - var(--space-md) / 1);
        // }
        // .col-span-2.row-span-2 {
        //   width: calc(100% / 3 * 2);
        // }
      }
    }
  }
}
