.buy-modal {
  position: fixed;
  z-index: 1;
  z-index: 2;
  // inset: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--header-height) 0;
  pointer-events: none;
  .outter {
    pointer-events: all;
    padding: 0 var(--space-lg);
    height: 100%;
    max-height: calc(var(--vh) * 100 - var(--header-height) * 2);
    overflow-y: auto;
    .inner {
      height: 100%;
    }
  }
  .header,
  .body {
    padding: 0 var(--space-sm);
    background-color: var(--color-gray);
  }
  .header {
    padding: var(--space-sm);
    padding-bottom: var(--space-md);

    .select-ui {
      &::before {
        content: "◢";
      }
      select {
        background-color: var(--color-gray-50);
        @media all and (max-width: $md) {
          min-width: toRem(183);
        }
      }
    }
  }
  .body {
  }
  & .body > .items {
    border-top: var(--border);
  }
  .typeface-item {
    &:last-child:not(.is-active) > ._row {
      border-bottom: none !important;
    }
    &.is-active {
      & > ._row {
        border: none;
      }
      .summary {
        color: black;
      }
      .btn-toggle {
        transform: rotate(45deg);
      }
    }
    &:last-child .group:last-child {
      // background-color: red;
      border-bottom: none;
    }
    .summary {
      color: var(--color-gray-100);
    }
    .btn-toggle {
      transition: transform 0.2s;
      // transform-origin: center right;
    }
    .group {
      border-bottom: var(--border);
    }
    ._row {
      // padding: 0.5em 0;
      // background-color: red;
      & > .title,
      .add-to-cart {
        padding: 0.5em 0;
      }
      &:not(:last-child) {
        border-bottom: var(--border);
      }
    }
  }

  .label {
    padding: 0.5em 0;
  }
  .price {
    justify-content: end;
    min-width: 5em;
  }
  .footer {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    overflow: hidden;
  }
  .atc-all {
    display: block;
    width: 100%;
    padding: 0.3em;
  }

  @media all and (max-width: $md) {
    padding-top: calc(var(--header-height) + 2em);
    padding: var(--header-height) var(--space-sm) var(--footer-height);
    .outter {
      max-height: calc(
        var(--vh) * 100 - calc(var(--header-height) + var(--footer-height))
      );
      padding: 0 var(--space-sm);
      padding: 0;
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }
    .header {
      padding-top: 2em;

      .label + .input {
        margin-bottom: var(--space-md);
      }
    }
    .typeface-item ._row {
      // background-color: red;
      .title {
        padding-bottom: 0;
      }
      .actions {
        padding: 0 0 0.5em 0;
        display: flex;
        justify-content: space-between;
        .add-to-cart {
          padding: 0;
        }
      }
    }
    .price {
      justify-content: start;
    }
    .footer {
      position: sticky;
      bottom: 0;
    }
  }
}
