.buy-modal {
  position: fixed;
  z-index: 1;
  inset: 0;
  padding: var(--header-height) 0;
  .outter {
    padding: 0 var(--space-lg);
    height: 100%;
    max-height: calc(var(--vh) * 100 - var(--header-height) * 2);
    overflow-y: auto;
    .inner {
      background-color: var(--color-gray);
      height: 100%;
      padding-top: var(--space-sm);
    }
  }
  .header {
    margin-bottom: var(--space-md);
  }
  .body {
  }
  & .body > .items {
    border-top: var(--border);
  }
  .typeface-item {
    &.is-active {
      & > ._row {
        border: none;
      }
      .btn-toggle {
        transform: rotate(45deg);
      }
    }
    .btn-toggle {
      transition: transform 0.2s;
      // transform-origin: center right;
    }
    .group {
      border-bottom: var(--border);
    }
    ._row {
      // padding: 0.5em 0;
      // background-color: red;
      & > .title,
      .add-to-cart {
        padding: 0.5em 0;
      }
      &:not(:last-child) {
        border-bottom: var(--border);
      }
    }
  }

  .label {
    padding: 0.5em 0;
  }

  .atc-all {
    display: block;
    width: 100%;
    padding: 0.3em;
  }
}
