.content-trials {
  min-height: calc(var(--vh) * 100);
  .checkbox-ui {
    label {
      flex-direction: row-reverse;
      gap: 0.4em;
    }
  }
  .footer {
    text-align: right;
    .checkbox-ui {
      padding: 0.5em;
      background-color: var(--color-gray-50);
      border-bottom-right-radius: var(--radius);
      width: 100%;
      label {
        justify-content: end;
      }
    }
  }
  dialog {
    background-color: var(--color-gray);
    left: 12.5%;
    top: 50%;
    // transform: translate(-50%, -50%);
    width: 75%;
    border-radius: 10px;
    &::backdrop {
      background-color: transparent;
    }
    .header {
      padding: var(--space-md);
    }
  }
  form {
    .client-infos {
      padding: 0 var(--space-md);
    }
    .fields {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding-left: 17em;
      gap: var(--space-md);
      .form-row {
        // width: 50%;
        display: flex;
        gap: 0.4em;
        // &:nth-child(1),
        // &:nth-child(3),
        // &:nth-child(5) {
        //   padding-bottom: 1em;
        // }
      }
    }

    input {
      width: 100%;
      border: none;
      color: #9747ff;
      line-height: 1;
      margin: unset;
      display: initial;
      &:focus {
        color: #9747ff;
      }
      &::placeholder {
        color: transparent;
      }
    }
    .consent {
      padding: var(--space-md);
      .checkbox-ui label {
        flex-direction: row;
      }
    }
    button[type="submit"] {
      background-color: var(--color-blue);
      color: white;
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;
      text-align: center;
      width: 100%;
    }
  }
}
