.content-trials {
  min-height: calc(var(--vh) * 100 - 48.8px);
  .checkbox-ui {
    label {
      flex-direction: row-reverse;
      gap: 0.4em;
    }
  }
  .item {
    &.is-active {
      & > ._row {
        border-bottom: var(--border);
      }
      .detail .item:first-child > ._row {
        border-top: none;
      }
    }
    .checkbox-ui {
      .label {
        opacity: 0;
      }
    }
  }
  .footer {
    text-align: right;
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    &.has-trials {
      .checkbox-ui {
        pointer-events: none;
      }
    }
    &.button-submit .checkbox-ui {
      background-color: var(--color-green);
      color: white;
    }
    .checkbox-ui {
      padding: 0.5em;
      background-color: var(--color-gray-50);
      border-bottom-right-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
      width: 100%;
      label {
        justify-content: end;
      }
      input:checked ~ .checkmark {
        background-color: white;
      }
    }
  }
  .infos {
    bottom: calc(var(--header-height) + var(--footer-height));
    padding-right: var(--space-lg);
  }
  dialog {
    background-color: var(--color-gray);
    left: 25%;
    top: 50%;
    // transform: translate(-50%, -50%);
    width: 50%;
    // max-width: 60%;
    border-radius: var(--radius);
    border-radius: 10px;
    &::backdrop {
      background-color: transparent;
    }
    .header {
      padding: var(--space-md) var(--space-md) 5px;
    }
  }
  form {
    .client-infos {
      padding: 0 var(--space-md);
    }
    .form-group {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      margin-bottom: 1em;
      .fields {
        grid-column: span 2 / span 2;
      }
    }
    .fields {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      // padding-left: 17em;
      gap: var(--space-md);
      .form-row {
        // width: 50%;
        display: flex;
        // gap: 0.4em;

        label {
          color: #666666;
          white-space: nowrap;
        }
      }
    }

    .consent {
      padding: var(--space-md);
      .checkbox-ui {
        width: 60%;
        label {
          // flex-direction: row-reverse;
          flex-direction: row;
          // justify-content: space-between;
          // text-align: left;
          gap: 1em;
          .label {
            padding: 0 !important;
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  @media all and (max-width: $md) {
    min-height: calc(
      var(--vh) * 100 - calc(var(--header-height) + var(--footer-height))
    );
    .list,
    .footer {
      z-index: 1;
    }
    .list {
      background-color: white;
      .item > ._row {
        grid-template-columns: repeat(6, minmax(0, 1fr));
      }
    }
    .infos {
      margin-top: var(--space-lg);
      bottom: unset;
      padding-right: 0;
      position: absolute;
      bottom: 0;
      z-index: 0;
    }
    dialog {
      left: var(--space-sm);
      width: calc((var(--vw) * 100) - var(--space-md));
      top: calc(var(--header-height) + 2.4em);
      max-width: unset;
      overflow-y: auto;
      max-height: 60vh;
      .header {
        position: sticky;
        top: 0;
        background-color: var(--color-gray);
        z-index: 1;
      }
      form .form-group {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        .fields {
          grid-column: span 3 / span 3;
        }
      }
    }
    form {
      .form-group {
        margin-bottom: 1em;
        display: block;
      }
      .title {
        margin-bottom: 1em;
      }
      .fields {
        // padding-left: 1em;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0;
      }
      .consent {
        .checkbox-ui {
          width: auto;
          label {
            white-space: initial;
          }
        }
      }
    }
  }
}
