footer#site-footer {
  // padding: var(--space-md) var(--space-lg);
  position: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 250;
  color: var(--color-gray-100);
  pointer-events: none;
  & > .inner {
    padding: 0 var(--space-lg) 11px;
    background-color: white;
  }
  a,
  button {
    pointer-events: all;
  }
  a,
  button:not(.button-submit) {
    color: var(--color-gray-100);
  }
  #nav-sacondary ul {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (max-width: $md) {
  [data-template="is-home"] footer {
    padding-top: 0;
  }
  footer#site-footer {
    font-size: var(--text-xs);
    max-height: 34px;
    & > .inner {
      padding: var(--space-sm);
    }
    form {
      font-size: var(--text-md-mobile);
      input {
        max-width: 15em;
      }
    }
  }
}
