footer#site-footer {
  // padding: var(--space-md) var(--space-lg);
  padding: 0 var(--space-lg) 11px;
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 250;
  color: var(--color-gray-100);
  a,
  button {
    color: var(--color-gray-100);
  }
  #nav-sacondary ul {
    display: flex;
    justify-content: space-between;
  }
  .mailchimp-dialog {
    form {
      input {
        line-height: 1;
      }
      button[type="submit"] {
        margin-top: var(--space-sm);
        background-color: var(--color-green);
      }
    }
  }
}
