footer#site-footer {
  // padding: var(--space-md) var(--space-lg);
  padding: 13px var(--space-lg);
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 250;
  a,
  button {
    color: var(--color-gray-100);
  }
  #nav-sacondary ul {
    display: flex;
    justify-content: space-between;
  }
}
