footer {
  // padding: var(--space-md) var(--space-lg);
  padding: 13px var(--space-lg);
  background-color: white;
  position: sticky;
  bottom: 0;
  z-index: 250;
  #nav-sacondary ul {
    display: flex;
    justify-content: space-between;
  }
}
