header {
  position: fixed;
  width: 100%;
  top: 0;
  // padding: var(--space-sm) var(--space-lg);
  padding: 13px var(--space-lg);
  z-index: 50;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  &.is-down {
    transform: translateY(-100%);
    opacity: 0;
  }

  #nav-primary {
    // position: sticky;
    // transform: translateY(
    //   calc(var(--vh) * 50 - var(--header-height) / 2 - 0.5em)
    // );
    ul {
      display: flex;
      justify-content: space-around;
      li:hover .submenu {
        display: block;
      }
      .submenu {
        display: none;
        position: absolute;
        padding-bottom: 1em;
        a {
          display: block;
        }
      }
    }
  }

  @media all and (max-width: $md) {
    padding: var(--space-sm);
  }
}

body[data-template="is-home"] {
  &.has-scrolled #nav-primary {
    transform: translateY(0);
    .submenu {
      transform: translateY(0);
      li.is-half {
        margin-bottom: 0;
      }
    }
  }
  #nav-primary {
    transition: transform 0.2s;
    transform: translateY(
      calc(var(--vh) * 50 - var(--header-height) / 2 - 0.5em)
    );
    .submenu {
      transform: translateY(calc(-50% - 0.6em));
      .is-half {
        transition: margin-bottom 0.2s;
        margin-bottom: 1.2em;
      }
    }
  }
}
