header {
  position: fixed;
  width: 100%;
  top: 0;
  // padding: var(--space-sm) var(--space-lg);
  padding: 13px var(--space-lg) 0px;
  z-index: 252;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  // min-height: toRem(67);
  &.is-down {
    transform: translateY(-100%);
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: -1;
  }
  .sup-header {
    color: var(--color-gray-100);
  }
  #nav-primary {
    // position: sticky;
    // transform: translateY(
    //   calc(var(--vh) * 50 - var(--header-height) / 2 - 0.5em)
    // );
    transition: transform 0.65s;
    // transition: transform 1s;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        position: relative;
      }
      li:hover .submenu {
        display: flex;
      }
      .submenu {
        display: none;
        flex-direction: column;
        position: absolute;
        padding-bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        // z-index: -1;
        a {
          display: block;
          text-align: center;
          white-space: nowrap;
          color: var(--color-gray-100);
          &:hover,
          &[aria-current] {
            color: black;
          }
          // left: 50%;
          // transform: translateX(-50%);
        }
      }
      .menu-item--buy {
        .btn--buy {
          color: var(--color-blue);
          border-top-right-radius: var(--radius);
          text-align: center;
          width: 13vw;
          transition: color 0.2s, background-color 0.2s;
          &:hover {
            background-color: var(--color-gray);
          }
          @media all and (max-width: $md) {
            width: 100%;
          }
        }
      }
    }
    .menu-item--cart {
      .snipcart-items-count {
        right: -2.5em;
      }
    }
  }

  @media all and (max-width: $md) {
    padding: var(--space-sm);
  }
}

body.is-product header #nav-primary ul .menu-item--buy .btn--buy {
  background-color: var(--color-blue);
  color: white;
  &:hover {
    background-color: var(--color-gray);
    color: var(--color-blue);
  }
}

body[data-template="is-home"] {
  &.has-scrolled {
    #nav-primary {
      transform: translateY(0);
      .submenu {
        transform: translateX(-50%) translateY(0);
        top: unset;
        padding-top: 0;
        li.is-half {
          margin-bottom: 0;
        }
      }
    }
  }
  #nav-primary {
    // transition: transform 0.2s;
    transform: translateY(
      calc(var(--vh) * 50 - var(--header-height) / 2 - 0.5em)
    );
    .submenu {
      // background-color: yellow;
      padding-top: 1em;
      top: 50%;
      transform: translateX(-50%) translateY(calc(-50% - 0em));
      transition: transform 0.2s, top 0.2s;

      // padding-bottom: 0;
      .is-half {
        transition: margin-bottom 0.2s;
        margin-bottom: 1.2em;
      }
    }
  }
}
