header {
  position: fixed;
  width: 100%;
  top: 0;
  // padding: var(--space-sm) var(--space-lg);
  padding: 13px var(--space-lg);
  z-index: 50;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  &.is-down {
    transform: translateY(-100%);
    opacity: 0;
  }

  #nav-primary ul {
    display: flex;
    justify-content: space-around;
  }

  @media all and (max-width: $md) {
    padding: var(--space-sm);
  }
}
