header#main-header {
  position: fixed;
  width: 100%;
  top: 0;
  // padding: var(--space-sm) var(--space-lg);
  padding: 13px var(--space-lg) 0px;
  padding: 11px var(--space-lg) 0px;
  z-index: 252;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  // min-height: toRem(67);
  &.is-down {
    transform: translateY(-100%);
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: -1;
  }
  .sup-header {
    color: var(--color-gray-100);
  }
  #nav-primary {
    transition: transform 0.45s;
    // transition: transform 1s;
    ul {
      display: flex;
      // justify-content: space-around;
      // justify-content: center;
      justify-content: space-between;
      align-items: baseline;
      li {
        position: relative;
        &.has-children a.depth-0 {
          pointer-events: none;
        }
      }
      a.depth-0 {
        width: 13vw;
        display: block;
        text-align: center;
        // transform: translateY(0.13em);
      }
      li:hover .submenu {
        display: block;
      }
      .submenu {
        display: none;
        flex-direction: column;
        position: absolute;
        padding-bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        // z-index: -1;
        a {
          display: block;
          text-align: center;
          white-space: nowrap;
          color: var(--color-gray-100);
          &:hover,
          &[aria-current] {
            color: black;
          }
        }
      }

      .menu-item--buy {
        z-index: 1;
        transform: translateX(calc(var(--radius) * 1));
        .btn--buy {
          // color: var(--color-blue);
          // background-color: white;
          border-top-right-radius: var(--radius);
          text-align: center;
          width: 13vw;
          transition: color 0.2s, background-color 0.2s;

          // &:hover {
          //   background-color: var(--color-gray);
          // }
          @media all and (max-width: $md) {
            width: 100%;
          }
        }
      }
      .menu-item--cart {
        z-index: 0;
        width: calc(100% + var(--radius));
        // &:hover button {
        //   background-color: var(--color-gray-25);
        // }
        button {
          border-top-right-radius: var(--radius);
          text-align: center;
          width: 13vw;
          transition: color 0.2s, background-color 0.2s;
        }
        .snipcart-items-count {
          right: -2.5em;
        }
      }
    }
  }

  @media all and (max-width: $md) {
    padding: var(--space-sm);
    padding-bottom: 0;
    nav#nav-primary {
      ul {
        line-height: 1;

        li {
          a {
            white-space: nowrap;
            color: var(--color-gray-100);
          }
          a.depth-0 {
            width: auto;
          }
          &.flex-2 {
            flex-basis: 50%;
          }
          &.menu-item--trials {
            order: 1;
          }
          &.menu-item--typefaces {
            order: 4;
            flex-basis: 50%;
            a.depth-0 {
              text-align: left;
            }
          }
          &.nav-shop {
            order: 5;
          }
          &.has-children {
            // background-color: red;
            a.depth-0 {
              pointer-events: none;
            }
            .submenu.is-active {
              display: block;
              z-index: 10;
            }
          }
          .submenu {
            transform: none !important;
            left: 0 !important;
            top: unset !important;
            padding-left: 0;
            padding-top: 0 !important;
            padding-top: 2px !important;
            // position: initial;
            .is-half {
              margin-bottom: 0 !important;
            }
            a {
              text-align: left !important;
            }
          }
        }
      }
      // .nav-item--home a,
      // .nav-shop a,
      // .nav-shop button {
      //   color: black;
      // }
      .nav-shop {
        min-width: 50%;
        ul {
          gap: var(--space-sm);
          justify-content: space-between;
          li {
            min-width: 50%;
            &.menu-item--buy {
              transform: translate(0);
            }
            &.menu-item--cart {
              width: auto;
              .btn--cart {
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}

// body.is-product header#main-header #nav-primary ul .menu-item--buy .btn--buy {
//   background-color: var(--color-blue) !important;
//   color: white !important;
//   &:hover {
//     background-color: var(--color-gray) !important;
//     color: var(--color-blue) !important;
//   }
// }
// body.is-product--open
//   header#main-header
//   #nav-primary
//   ul
//   .menu-item--buy
//   .btn--buy {
//   background-color: var(--color-gray) !important;
//   color: blue !important;
//   &:hover {
//     background-color: var(--color-gray) !important;
//   }
// }

body[data-template="is-home"] {
  header#main-header {
    color: white;
    mix-blend-mode: difference;
    a,
    button {
      color: white;
    }
    &::after {
      background-color: black;
    }
    a:hover {
      color: white !important;
    }

    // .menu-item--buy .btn--buy {
    //   color: #eaff00;
    //   background-color: transparent;
    // }
    .menu-item--cart .btn--cart {
      color: white;
      .text-green {
        color: #e500dc;
      }
    }
    // #nav-primary ul,
    // #nav-primary ul .actions {
    //   .menu-item--buy .btn--buy {
    //     color: #eaff00;
    //     background-color: transparent;
    //   }
    //   .menu-item--cart button {
    //     color: white;
    //     .text-green {
    //       color: #e500dc;
    //     }
    //   }
    // }
  }
  &.has-scrolled header#main-header {
    color: black;
    mix-blend-mode: unset;
    a,
    button {
      color: black;
    }
    &::after {
      background-color: white;
    }
    a:hover {
      color: black !important;
    }

    .menu-item--cart .btn--cart {
      color: black;
      .text-green {
        color: var(--color-green);
      }
    }
    // #nav-primary ul,
    // #nav-primary ul .actions {
    //   .menu-item--buy .btn--buy {
    //     color: var(--color-blue);
    //   }
    //   .menu-item--cart button {
    //     color: black;
    //     .text-green {
    //       color: var(--color-green);
    //     }
    //   }
    // }
  }
  header#main-header #nav-primary {
    // transition: transform 0.2s;

    transform: translateY(
      calc(var(--vh) * 50 - var(--header-height) / 2 - 1em)
    );

    position: relative;
    z-index: 2;
    ul {
      li.menu-item--outline.online {
        pointer-events: none;
      }
      // .actions .menu-item--buy .btn--buy,
      // .actions .menu-item--cart .btn--cart {
      //   background-color: transparent;
      // }
    }
    .submenu {
      // background-color: yellow;
      padding-top: 1em;
      top: 50%;
      transform: translateX(-50%) translateY(calc(-50% - 0em));
      transition: transform 0.2s, top 0.2s;

      // padding-bottom: 0;
      .is-half {
        transition: margin-bottom 0.2s;
        margin-bottom: 1.2em;
      }
    }
  }
  &.has-scrolled header#main-header #nav-primary {
    transform: translateY(0);

    .submenu {
      transform: translateX(-50%) translateY(0);
      top: unset;
      padding-top: 0;
      li.is-half {
        margin-bottom: 0;
      }
    }
    ul {
      li.menu-item--outline.online {
        pointer-events: initial;
      }
    }
    // .actions .menu-item--buy .btn--buy {
    //   background-color: white;
    // }
  }
}

// .snipcart-cart--opened,
// body.cart-opened {
//   .menu-item--cart {
//     button {
//       background-color: var(--color-gray-25);
//     }
//   }
// }

.btn--buy,
.btn--cart {
  height: 18px;
  line-height: 20px;
}
.is-chrome,
.is-safari {
  .btn--buy,
  .btn--cart {
    line-height: 18px;
  }
}

/**
 Btn Buy
*/
header#main-header .menu-item--buy .btn--buy {
  color: var(--color-blue);
  &:hover {
    background-color: var(--color-gray);
  }
}
body[data-template="is-home"] header#main-header .menu-item--buy .btn--buy {
  color: #eaff00;
  background-color: transparent;
}
body[data-template="is-home"].has-scrolled
  header#main-header
  .menu-item--buy
  .btn--buy {
  color: var(--color-blue);
  &:hover {
    background-color: var(--color-gray);
  }
}
body.is-product header#main-header .menu-item--buy .btn--buy {
  background-color: var(--color-blue) !important;
  color: white !important;
}

body.is-product--open header#main-header .menu-item--buy .btn--buy,
body.cart-opened header#main-header .menu-item--buy .btn--buy {
  background-color: var(--color-gray) !important;
  color: var(--color-blue) !important;
}

/**
 Btn Cart
*/
header#main-header .menu-item--cart .btn--cart {
  color: black;
  &:hover {
    background-color: var(--color-gray-25);
  }
}

body.cart-opened header#main-header .menu-item--cart .btn--cart {
  background-color: var(--color-gray-25);
  &:hover {
    background-color: var(--color-gray-25);
  }
}
