header {
  position: fixed;
  width: 100%;
  top: 0;
  // padding: var(--space-sm) var(--space-lg);
  padding: 13px var(--space-lg) 6px;
  z-index: 50;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  min-height: toRem(67);
  &.is-down {
    transform: translateY(-100%);
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: -1;
  }
  #nav-primary {
    // position: sticky;
    // transform: translateY(
    //   calc(var(--vh) * 50 - var(--header-height) / 2 - 0.5em)
    // );
    transition: transform 0.2s;
    ul {
      display: flex;
      justify-content: space-around;
      li:hover .submenu {
        display: block;
      }
      .submenu {
        display: none;
        position: absolute;
        padding-bottom: 1em;
        // z-index: -1;
        a {
          display: block;
        }
      }
      .menu-item--buy {
        .btn--buy {
          background-color: blue;
          color: white;
          border-top-right-radius: 1em;
          text-align: center;
          width: 13vw;
          @media all and (max-width: $md) {
            width: 100%;
          }
        }
      }
    }
    .menu-item--cart {
      .snipcart-items-count {
        right: -2.5em;
      }
    }
  }

  @media all and (max-width: $md) {
    padding: var(--space-sm);
  }
}

body[data-template="is-home"] {
  &.has-scrolled {
    #nav-primary {
      transform: translateY(0);
      .submenu {
        transform: translateY(0);
        top: unset;
        padding-top: 0;
        li.is-half {
          margin-bottom: 0;
        }
      }
    }
  }
  #nav-primary {
    // transition: transform 0.2s;
    transform: translateY(
      calc(var(--vh) * 50 - var(--header-height) / 2 - 0.5em)
    );
    .submenu {
      // background-color: yellow;
      padding-top: 1em;
      top: 50%;
      transform: translateY(calc(-50% - 0em));
      transition: transform 0.2s, top 0.2s;

      // padding-bottom: 0;
      .is-half {
        transition: margin-bottom 0.2s;
        margin-bottom: 1.2em;
      }
    }
  }
}
