#infos {
  .infos-overlay {
    text-align: left;
    position: fixed;
    inset: 0;
    z-index: 0;
    transform: translateY(-100%);
    transition: transform 0.7s var(--cubic);
    &.is-active {
      transform: translateY(0);
    }
  }
  .btn-toggle {
    line-height: 1.2;
  }
}
