#nav-tertiary {
  position: fixed;
  bottom: calc(var(--footer-height) + 0.2em);
  left: 0;
  padding: 0 var(--space-lg);
  width: 100%;
  // z-index: 251;
  @media all and (max-width: $md) {
    margin-top: var(--space-lg);
    margin-bottom: var(--footer-height);
    margin-bottom: 0;
    position: initial;
    padding: 0;
  }
}
