#nav-tertiary {
  position: fixed;
  bottom: calc(var(--footer-height) + 0.2em);
  left: 0;
  padding: 0 var(--space-lg);
  width: 100%;

  @media all and (max-width: $md) {
    position: initial;
    padding: 0;
  }
}
