.section--trinkets {
  background-color: white;
  position: relative;
  .infos {
    position: absolute;
    top: 0%;
    left: 0%;
    // background-color: var(--color-gray);
    padding: 0 1em;
    pointer-events: none;
    will-change: transform;
    color: white;
    mix-blend-mode: difference;
    white-space: pre;
    text-align: center;
  }
}
