.section--in-use {
  height: calc(var(--vh) * 100 - calc(var(--header-height) * 0));
  position: relative;
  overflow: clip;
  .thumbnails {
    position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    width: calc(var(--vw) * 100);
    overflow-x: scroll;
    // overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    .inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      // justify-content: center;
    }
    .thumbnail {
      flex-shrink: 0;
      img {
        height: toRem(40) !important;
        width: auto !important;
      }
    }
  }
  .modal {
    position: absolute;
    inset: var(--header-height);
    // top: var(--header-height);
    bottom: var(--footer-height);
    figure {
      // background-color: red;
      display: flex;
      justify-content: center;
    }
    img {
      height: calc(
        var(--vh) * 100 - calc(var(--header-height) + var(--footer-height)) -
          1.3em
      ) !important;
      width: auto !important;
      object-fit: contain;
    }
    figcaption {
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.05em 0 0;
      padding: 0;
    }
  }
  @media all and (max-width: $md) {
    min-height: unset !important;
    background-color: white;
    .thumbnails {
    }
    .modal {
      inset: var(--space-sm);

      height: calc(
        var(--vh) * 100 - calc(var(--header-height) + var(--footer-height))
      );
      top: var(--header-height);
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      img {
        width: 100% !important;
        height: auto !important;
      }
      figcaption {
        left: 0;
        transform: translateX(0);
        bottom: 0;
        font-size: var(--text-sm);
        color: white;
        mix-blend-mode: difference;
      }
    }
  }
}
