.section--trinkets {
  background-color: white;
  position: relative;
  // padding-top: var(--header-height);
  // padding-bottom: var(--footer-height);
  .infos {
    position: absolute;
    top: 0%;
    left: 0%;
    // background-color: var(--color-gray);
    padding: 0 1em;
    pointer-events: none;
    will-change: transform;
    color: white;
    mix-blend-mode: difference;
    white-space: pre;
    text-align: center;
  }
  @media (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 30vh;
      // background-color: red;
      bottom: 0;
      left: 0;
      z-index: 50;
    }
  }
  @media all and (max-width: $md) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 30vh;
      // background-color: red;
      bottom: 0;
      left: 0;
      z-index: 50;
    }
  }
}
