.section--in-use {
  height: calc(var(--vh) * 100 - calc(var(--header-height) * 2));
  position: relative;
  overflow: clip;
  .thumbnails {
    position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    width: calc(var(--vw) * 100);
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
    .inner {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
    }
    .thumbnail {
      flex-shrink: 0;
      img {
        height: toRem(40) !important;
        width: auto !important;
      }
    }
  }
  .modal {
    position: absolute;
    inset: var(--header-height);
    // top: var(--header-height);
    bottom: var(--footer-height);
    figure {
      // background-color: red;
      display: flex;
      justify-content: center;
    }
    img {
      height: calc(
        var(--vh) * 100 - calc(var(--header-height) + var(--footer-height)) -
          1.3em
      ) !important;
      width: auto !important;
    }
    figcaption {
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.05em 0 0;
      padding: 0;
    }
  }
}
