.section--typefaces {
  min-height: calc(var(--vh) * 100);
  padding: var(--space-md) var(--space-lg);
  // padding-top: var(--header-height);
  padding-top: var(--pseudo-header-height);

  .items {
    border-top: var(--border);
  }
  .item {
    border-bottom: var(--border);
    padding: 0.5rem 0;

    .typeface--item {
      display: flex;
      justify-content: space-between;
      &.is-active {
        .title {
          font-size: var(--text-xl);
        }
      }
    }

    .title {
      font-size: var(--text-lg);
      transition: font-size 0.2s;
      flex: 2;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
    }
    .actions {
      position: absolute;
      right: 0;
      height: 100%;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
      .select-ui {
        min-width: toRem(188);
        width: toRem(188);
        &::before {
          content: "◢";
        }
        select {
          width: toRem(188);
          background-color: var(--color-gray-50);
        }
      }
    }
  }
  @media all and (max-width: $md) {
    padding: var(--space-sm);
    .item {
      .title {
        font-size: var(--sm--text-lg);
      }
      .actions {
        display: none;
      }
    }
  }
}
