.buy-modal-notices {
  background-color: var(--color-gray);
  padding-top: toRem(53);
  padding-bottom: 0.5em;
  // padding-left: var(--space-sm);
  // padding-right: var(--space-sm);
  .nav.flex {
    gap: 0.4em;
  }
  button {
    // text-decoration: underline;
    &:not(:last-child)::after {
      content: ",";
      text-decoration: none;
    }
  }
  dialog {
    background-color: var(--color-gray-50);
    @media (max-width: 1080px) {
      min-width: calc(var(--vw) * 100 - var(--space-md)) !important;
    }
    .header {
      padding: var(--space-sm);
      background-color: var(--color-gray-50);
    }
    .footer {
      a {
        background-color: var(--color-green);
        color: white;
        text-align: center;
        padding: 0.5em;
        display: block;
      }
    }
  }
}
