.cart-row {
  padding: 0.5em 0;
  border-bottom: var(--border);
  & + div {
    border-top: none;
  }
}
.cart-modal {
  position: fixed;
  z-index: 1;
  z-index: 2;
  // inset: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--header-height) 0;
  pointer-events: none;
  transition:
    opacity 0.2s,
    transform 0.2s;
  transform: translateY(-100%);
  opacity: 0;
  &.is-open {
    transform: translateY(0%);
    opacity: 1;
    pointer-events: all;
  }
  .outter {
    padding: 0 var(--space-lg);
    height: 100%;
    max-height: calc(var(--vh) * 100 - var(--header-height) * 2);
    overflow-y: auto;
    .inner {
      height: 100%;
      background-color: var(--color-gray);
      border-bottom-right-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
      overflow: hidden;
    }
  }
}

.post-checkout,
.cart-modal {
  .header,
  .body {
    padding: 0 var(--space-sm);
  }
  .header {
    padding: var(--space-sm);
    // padding-bottom: calc(var(--space-sm) + 1rem);
    h2 {
      opacity: 0;
    }
    .select-ui {
      &::before {
        content: "◢";
      }
      select {
        background-color: var(--color-gray-50);
        @media all and (max-width: $md) {
          min-width: toRem(183);
        }
      }
    }
  }
  .products {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    border-top: var(--border);
    border-bottom: var(--border);
    .items {
      grid-column: span 15 / span 15;
      // border-top: var(--border);
      // border-bottom: var(--border);
    }
    .cart-item {
      display: grid;
      grid-template-columns: repeat(15, minmax(0, 1fr));
      padding: 0.5em 0;
      border-bottom: var(--border);
      &:last-child {
        border-bottom: none;
      }
      &__header {
        grid-column: span 3 / span 3;
        display: flex;
        gap: 0.5em;
        align-items: start;
      }
      &__content {
        grid-column: span 12 / span 12;
      }
      &__price {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5em 0;
        display: flex;
      }
    }
  }
  .footer {
    .inner {
      padding: 0 var(--space-sm);
    }
    .cart-row:first-child {
      border-top: var(--border);
    }
    .totals {
      //
      .totals--inner {
        display: grid;
        grid-template-columns: repeat(16, minmax(0, 1fr));
        // border-top: var(--border);
        // border-bottom: var(--border);
        // padding: 0.5em 0;
      }
      .value {
        grid-column: span 14 / span 14;
        text-align: right;
      }
    }
    button {
      padding: 0.5em;
      display: block;
      line-height: unset;
      width: 100%;
      background-color: var(--color-blue);
      color: white;
    }
  }
}
