.snipcart-overwrite #snipcart {
  .snipcart-item-line {
    @media all and (min-width: 1024px) {
      &:not(:first-child) {
        border-top: var(--border);
      }
    }
  }
  .snipcart-item-custom-fields--checkbox {
    pointer-events: none;
    display: none;
    &.has-input-checked {
      display: block;
    }
  }

  .cart__footer-discount-box {
    padding: 0 var(--space-sm);
    .snipcart-discount-box__button {
      padding: 0.5em;
    }
    .snipcart-input {
      padding-right: 10em;
      background-color: transparent;
      input {
        background-color: var(--bgColor-input, #fff);
      }
    }
  }
}
