.page-catalogue {
  main {
    // h1 {
    //   line-height: 1;
    // }
    // .products {
    //   padding: 181px $margeL;
    // }
    //
    article.product-card {
      a {
        position: relative;
      }
      .product-infos {
        // padding: 9px 10px 12px;
        // border: $border;
        // position: absolute;
        // right: 0;
        // bottom: 0;
        // width: 50%;
        // text-transform: uppercase;
      }
      .cta .sticky {
        // top: calc(var(--header-height) * 2 + var(--space-sm));
      }
    }
  }
}
