.page-catalogue {
  main {
    // h1 {
    //   line-height: 1;
    // }
    // .products {
    //   padding: 181px $margeL;
    // }
    //
    article.product-card {
      a {
        position: relative;
      }
      .product-infos {
      }
      .cta .sticky {
        // top: calc(var(--header-height) * 2 + var(--space-sm));
      }
    }
  }
}
