<!DOCTYPE html>
<html>

<head>
  <title>Templates</title>
</head>

<body>
  <div id="snipcart-templates">

    <cart v-if="hasItems">
      <div class="root">

        <section class="snipcart-cart__content">
          <div class="px-sm ">
            <div class="grid md:grid-cols-16 b-t b-b">
              <div class="title py-05e">Items:</div>

              <item-list item-template="item-line" class="snipcart-item-list--no-shadow md:col-span-15"
                :show-description="!isSideCart">
                <template v-slot:footer v-if="isSideCart && hasActiveDiscountsTriggerableByCode">
                  <li class="snipcart-item-line snipcart-item-line--cart-edit">
                    <div class="snipcart-item-line__container">
                      <discount-box class="snipcart-cart__discount-box"></discount-box>
                    </div>
                  </li>
                </template>
              </item-list>
            </div>
          </div>
          <div class="snipcart-cart__footer">
            <div class="snipcart-cart__footer-col cart__footer-discount-box snipcart-cart__actions">
              <discount-box v-if="!isSideCart && hasActiveDiscountsTriggerableByCode"
                class="snipcart-cart__discount-box"></discount-box>
            </div>

            <div class="snipcart-cart__footer-col">
              <div class="px-sm">
                <div class="grid grid-cols-8 md:grid-cols-16 b-t b-b">
                  <div class="title py-05e">TOTAL</div>
                  <summary-fees class="snipcart-cart-summary-fees--reverse" :summary-data="summaryFeesProvider">
                    {{ $localize('cart.shipping_taxes_calculated_at_checkout')}}
                  </summary-fees>
                </div>
              </div>

              <footer v-if="!editingCart || isSideCart" class="snipcart-cart__footer-buttons">
                <flash-message type="error" v-if="errors != null"
                  :title="$localize('errors.order_validation.custom_fields_validation.title')">
                  {{$localize('errors.order_validation.custom_fields_validation.description')}}
                </flash-message>
                <!-- BUTTON: checkout -->
                <button-primary label="actions.checkout" icon="continue-arrow-"
                  :state="checkoutDisabled ? 'disabled' : undefined" @click="checkout"></button-primary>
                <button-link v-if="isSideCart" label="cart.view_detailed_cart" @click="viewDetailedCart"></button-link>
                <featured-payment-methods v-if="!editingCart"></featured-payment-methods>
              </footer>
            </div>
          </div>
        </section>

      </div>
    </cart>

    <item-line>
      <div class="root">

        <li :class="{'snipcart-item-line': true, 'snipcart-item-line--cart-edit': editingCart}">
          <flash-message type="info" icon="box" v-if="stockLimitReached"
            :title="$localize('errors.quantity_revised')"></flash-message>
          <flash-message type="error" icon="box" v-if="outOfStock"
            :title="$localize('errors.quantity_out_of_stock')"></flash-message>
          <div class="snipcart-item-line__container">
            <figure class="snipcart-item-line__media" v-if="showLargeImage">
              <item-image class="snipcart-item-line__image"></item-image>
            </figure>
            <div class="snipcart-item-line__product">
              <div class="snipcart-item-line__header">
                <figure class="snipcart-item-line__media snipcart-item-line__media--small" v-if="showSmallImage">
                  <item-image class="snipcart-item-line__image"></item-image>
                </figure>
                <div class="product-title">
                  <h2
                    class="snipcart-item-line__title snipcart__font--xlarge snipcart__font--secondary snipcart__font--black">
                    {{ item.name }}
                  </h2>
                  <div class="snipcart-item-line__info">
                    <item-description v-if="showDescription"></item-description>
                  </div>
                </div>
                <button-icon icon="cross" label="item.remove_item" styling="danger" @click="removeItem"></button-icon>

              </div>

              <div class="snipcart-item-line__content">
                <div class="snipcart-item-line__body">
                  <!-- <div class="snipcart-item-line__info">
                    <item-description v-if="showDescription"></item-description>
                  </div> -->
                  <item-custom-fields v-if="!adding"></item-custom-fields>
                </div>
              </div>
              <div class="snipcart-item-line__price">
                <div class="flex flex-row-reverse gap-sm">

                  <item-price :item="item" :selected-plan="selectedPlan" class="snipcart__font--xlarge">
                  </item-price>
                </div>
              </div>
            </div>
          </div>
      </div>
      </li>

  </div>
  </item-line>

  <cart-summary>
    <div class="root">

      <div class="snipcart-cart-summary">
        <section class="snipcart-cart-summary__content">
          <div class="snipcart-cart-summary__actions snipcart__box--header">
            <h1 class="snipcart-cart-summary__title snipcart__font--subtitle">{{ $localize('cart.summary') }}</h1>
            <button type="button" class="outline ml-sm" onclick="history.back()">Edit</button>
          </div>

          <!-- <div class="snipcart-summary-item-list-custom">
              <div class="snipcart-summary-item-name">Fonts</div>
              <div class="snipcart-summary-item-license">Licenses</div>
              <div class="snipcart-summary-item-company-size">Company size</div>
              <div class="snipcart-summary-item-price"></div>
            </div> -->

          <overridable name="cart-summary" section="items">
            <item-list item-template="cart-summary-expanded-item"></item-list>
          </overridable>

          <hr class="snipcart-cart-summary__separator" />

          <loading-overlay>
            <div class="snipcart-cart-summary__totals">
              <summary-fees :summary-data="summaryFeesProvider"></summary-fees>
            </div>
          </loading-overlay>
        </section>

      </div>

    </div>
  </cart-summary>

  <cart-summary-expanded-item>
    <div class="root">

      <div class="snipcart-summary-item-list-custom">
        <div class="snipcart-summary-item-name">{{ item.name }}</div>
        <div class="snipcart-summary-item-license">
          <template v-for="(customField, i) in visibleCustomFields" :key="i">
            <template v-if="customField.value === true">
              <span>{{ customField.name }}</span>
            </template>
          </template>
        </div>
        <template v-for="(customField, i) in visibleCustomFields" :key="i">
          <div v-if="customField.name === 'Company Size'" class="snipcart-summary-itemcompany-size">
            Up to {{ customField.value }} employees
          </div>
        </template>
        <div class="snipcart-summary-item-price">{{ item.unitPrice | money(cart.currency) }}</div>
      </div>

    </div>
  </cart-summary-expanded-item>

  <billing-completed>
    <div class="root">

      <div class="snipcart__box snipcart-billing-completed">

        <div class="billing-col-holder billing-payment">
          <div class="billing-col">
            <div class="snipcart__box--title">
              <h1 class="snipcart-billing-completed__title snipcart__font--subtitle">
                {{ $localize('billing.title') }}
              </h1>
              <!-- <button-link
                             v-if="checkout"
                             label="actions.edit"
                             @click="edit"
                         ></button-link> -->
              <button v-if="checkout" type="button" class="outline ml-sm" @click="edit">Edit</button>
            </div>


            <span class="snipcart-billing-completed__information snipcart__font--std">
              {{ cart.billingAddress.name }}<br />
              {{ cart.email }}<br />
              {{ cart.billingAddress | fullAddress }}<br>
              <!-- <template v-for="(customField, i) in cart.customFields" :key="i" >
                           <template v-if="customField.name === 'vatnumber' && customField.value !== null" >
                             VAT number: {{ customField.value }}
                           </template>
                         </template> -->
            </span>
          </div>
          <div class="billing-col">
            <div class="snipcart__box--title">
              <h1 class="snipcart__font--subtitle">License is for</h1>
              <button v-if="checkout" type="button" class="outline ml-sm" @click="edit">Edit</button>
            </div>
            <template v-for="(customField, i) in cart.customFields" :key="i">
              <template v-if="customField.name === 'licensefor'">
                {{ customField.value }}<br>
              </template>
            </template>
            <template v-for="(customField, i) in cart.customFields" :key="i">
              <template v-if="customField.name === 'websiteUrl' && customField.value !== null">
                <div class="license-website">
                  <h1 class="snipcart__font--subtitle">Website URL</h1> {{ customField.value }}
                </div>
              </template>
            </template>
            <div class="license-message">
              Make sure the license name is correct.
            </div>
          </div>
        </div>
      </div>

    </div>
  </billing-completed>

  <billing>
    <div class="root">

      <div class="snipcart__box">

        <snipcart-form-error></snipcart-form-error>

        <overridable name="billing" section="top"></overridable>

        <div class="billing-col-holder">

          <div class="billing-col">
            <h1 class="snipcart__font--subtitle">
              {{ $localize('billing.title') }}
            </h1>
            <fieldset class="snipcart-form__set">

              <div class="snipcart-form__field">
                <snipcart-label class="snipcart__font--tiny" for="name">
                  {{ $localize('address_form.name') }}
                </snipcart-label>

                <snipcart-input name="name"></snipcart-input>
                <snipcart-field-error name="name"></snipcart-field-error>
              </div>

              <div class="snipcart-form__field">
                <snipcart-label class="snipcart__font--tiny" for="email">
                  {{ $localize('address_form.email' )}}
                </snipcart-label>
                <snipcart-input name="email" v-if="!emailIsReadonly"></snipcart-input>
                <span class="snipcart-input--readonly snipcart__font--secondary snipcart__font--bold" v-else>{{
                  customer.email }}</span>
                <snipcart-field-error name="email"></snipcart-field-error>
              </div>
            </fieldset>

            <address-fields type="billing"></address-fields>
            <!-- <div class="snipcart-form__field">
                          <snipcart-label class="snipcart__font--tiny" for="vatnumber">
                              VAT number
                          </snipcart-label>
                          <snipcart-input name="vatnumber"></snipcart-input>
                          <snipcart-field-error name="vatnumber"></snipcart-field-error>
                      </div> -->

            <hr class="snipcart-form__separator" v-if="hasShippingStep" />

            <fieldset class="snipcart-form__set snipcart-form__set--different-shipping" v-if="hasShippingStep">
              <div class="snipcart-form__field">
                <div class="snipcart-form__field-checkbox">
                  <snipcart-checkbox name="useDifferentShippingAddress"></snipcart-checkbox>

                  <snipcart-label class="snipcart__font--tiny snipcart-form__label--checkbox"
                    for="useDifferentShippingAddress">
                    {{ $localize('billing.use_different_shipping_address') }}
                  </snipcart-label>
                </div>
              </div>
            </fieldset>

            <overridable name="billing" section="bottom"></overridable>

          </div>
          <div class="billing-col">
            <div class="license-title">
              <h1 class="snipcart__font--subtitle">License is for </h1>
              <div class="snipcart__font--tiny">
                (same as billing or your client)
              </div>
            </div>
            <fieldset class="snipcart-form__set">
              <div class="snipcart-form__field">
                <snipcart-label class="snipcart__font--tiny" for="licensefor">
                  Name or Company
                </snipcart-label>
                <snipcart-input name="licensefor" required></snipcart-input>
                <snipcart-field-error name="licensefor"></snipcart-field-error>
              </div>
            </fieldset>
            <div class="license-title">
              <h1 class="snipcart__font--subtitle m-top">For a Website </h1>
            </div>
            <fieldset class="snipcart-form__set">
              <div class="snipcart-form__field">
                <snipcart-label class="snipcart__font--tiny" for="websiteUrl">
                  Website URL
                </snipcart-label>
                <snipcart-input name="websiteUrl"></snipcart-input>
                <snipcart-field-error name="websiteUrl"></snipcart-field-error>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="snipcart-form__footer">
          <snipcart-submit :label="labelSubmit"></snipcart-submit>
        </div>

      </div>
  </billing>

  </div>
</body>

</html>