html body.is-landing {
  header#main-header {
    #nav-primary {
      transition: none;
      transform: none;
      a,
      button,
      span {
        pointer-events: none;
        color: var(--color-gray-100) !important;
      }
    }
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer#site-footer {
    a,
    button.toggle {
      color: var(--color-blue);
    }
  }

  @media all and (max-width: $md) {
    #nav-primary {
      .menu-item--typefaces,
      .menu-item--information,
      .menu-item--trials {
        display: none;
      }
    }
  }
}
