html {
  -webkit-tap-highlight-color: transparent;
  // overflow: hidden;
}
html,
body {
  background-color: white;
  // background-color: blue;
}
body {
  // overflow-y: auto;
  &.is-loading {
    opacity: 0;
  }
  // @include debugFiletY(38.2px);

  // @include debugOutline(var(--space-md));
}

main {
  min-height: var(--app-height, 100vh);
  position: relative;
  & > [data-template]:not(.template--product, .template--home) {
    // padding-top: calc(var(--header-height) * 2);
    padding-top: var(--pseudo-header-height);
    & > .content.pt-header-height {
      padding-top: 0;
    }
  }
}

.h-app {
  height: var(--app-height);
}

.dashes {
  position: fixed;
  top: 0;
  width: var(--space-lg);
  height: 100vh;
  pointer-events: none;
  z-index: 253;
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-sm);
  padding: 16px var(--space-sm) 18px;
  span {
    width: 20px;
    height: 1px;
    background-color: black;
    display: block;
  }
}
.is-chrome {
  .dashes {
    padding-top: 18px;
  }
}
@media all and (min-width: $md) {
}

.sm-only {
  display: none;
}
@media all and (max-width: $md) {
  .sm-only {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
  .dashes {
    display: none;
  }

  main {
    &
      > [data-template]:not(
        .template--product,
        .template--home,
        .template--trials
      ) {
      padding-top: calc(var(--header-height) + 2em);
    }
  }
}

.is-product--open,
.snipcart-cart--opened,
.cart-opened {
  &,
  body {
    overflow: hidden !important;
    #nav-primary {
      // transform: none !important;
    }
    main section {
      pointer-events: none;
    }
  }
}
