html {
  -webkit-tap-highlight-color: transparent;
  // cursor: url("data:image/svg+xml,%3Csvg id='9cebf991-61f6-421b-aa5c-e8cb04c5c6c3' data-name='Calque 1' xmlns='http://www.w3.org/2000/svg' width='36.78' height='36.77' viewBox='0 0 36.78 36.77'%3E%3Ctitle%3Evj-cursor%3C/title%3E%3Cpath d='M.65.65C.8.5,1.1.57,1.55.8,7.41,4.32,10.62,4.43,16,1.29A5.67,5.67,0,0,1,22.8,2a4.78,4.78,0,0,1,0,6.88c-3.1,3.1-9.49,2-15.46-2.15,15.46,14.47,20.37,12.43,25.89,18,3.86,3.86,3.78,7.48,1.36,9.9s-6,2.49-9.9-1.36c-5.52-5.52-3.48-10.43-18-25.89,4.16,6,5.25,12.36,2.19,15.42A4.79,4.79,0,0,1,2,22.8,5.66,5.66,0,0,1,1.32,16c3.14-5.41,3-8.58-.49-14.48C.57,1.1.53.76.65.65Z' stroke='%23fff' stroke-miterlimit='10'/%3E%3C/svg%3E")
  //     0 0,
  //   default;
  overflow: hidden;
}
html,
body {
  background-color: white;
}
body {
  overflow-y: auto;
  // @include debugFiletY(38.2px);

  // @include debugOutline(var(--space-md));
}
#page {
}
main {
  min-height: var(--app-height, 100vh);
  position: relative;
  & > [data-template]:not(.template--product, .template--home) {
    // padding-top: calc(var(--header-height) * 2);
    padding-top: var(--pseudo-header-height);
    & > .content.pt-header-height {
      padding-top: 0;
    }
  }
}

.h-app {
  height: var(--app-height);
}

.dashes {
  position: fixed;
  top: 0;
  width: var(--space-lg);
  height: 100vh;
  pointer-events: none;
  z-index: 253;
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-sm);
  padding: 16px var(--space-sm) 18px;
  span {
    width: 20px;
    height: 1px;
    background-color: black;
    display: block;
  }
}
.is-chrome {
  .dashes {
    padding-top: 18px;
  }
}
@media all and (min-width: $md) {
}

.sm-only {
  display: none;
}
@media all and (max-width: $md) {
  .sm-only {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
  .dashes {
    display: none;
  }

  main {
    & > [data-template]:not(.template--product, .template--home) {
      padding-top: var(--header-height);
    }
  }
}
