img {
  max-width: 100%;
}

// .hidden {
//   display: none;
// }

.center-x-y {
  // @include center_it;
  display: grid;
  place-items: center;
}

// .ar-a4 {
//   img {
//     aspect-ratio: 1/1.414;
//   }
// }
figure {
}
ul.list-with-comma {
  display: flex;
  li {
    display: flex;
  }
  li:not(:last-child):after {
    content: ", ";
    color: inherit;
    padding-right: 0.2em;
  }
}

.outline {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--border);
    z-index: 1;
    pointer-events: none;
  }

  &.is-rounded {
    border-radius: 2rem;
  }
  &.is-rounded::before,
  &.is-rounded::after {
    border-radius: 2rem;
  }
}

.b-t {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: var(--border-width);
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
    // opacity: 0.5;
  }
}
.b-b {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: var(--border-width);
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
    // opacity: 0.5;
  }
}

.hide-sb {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-s::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.lome-logo {
  // @include debugSquare(176px);
}

ul.list-with-comma {
  li {
    display: flex;
  }
  li:not(:last-child):after {
    content: ", ";
    color: inherit;
    padding-right: 0.2em;
  }
}

@keyframes wave {
  from {
    flex: 2 0 1rem !important;
  }

  to {
    flex: 2 0 10rem !important;
  }
}

.gradient {
  background: rgb(235, 234, 229);
  background: linear-gradient(
    90deg,
    rgba(235, 234, 229, 1) 100% rgba(235, 234, 229, 0) 0%
  );
}

.flex-2 {
  flex: 2;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}
.col-span-9 {
  grid-column: span 9 / span 9;
}
.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
@media (min-width: 1080px) {
  .md\:grid-cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
  }
  // .md\:col-span-15 {
  //   grid-column: span 15 / span 15;
  // }
  // .md\:col-span-6 {
  //   grid-column: span 6 / span 6;
  // }
  // .md\:col-span-8 {
  //   grid-column: span 8 / span 8;
  // }
}

// .px-sm {
//   padding-left: var(--space-sm);
//   padding-right: var(--space-sm);
// }

dialog {
  background-color: var(--color-gray);
  left: 25%;
  top: 50%;
  // transform: translate(-50%, -50%);
  width: 50%;
  // max-width: 60%;
  border-radius: var(--radius-sm);
  border-radius: 10px;

  &::backdrop {
    background-color: transparent;
  }
  @media (max-width: 1080px) {
    width: calc(100vw - var(--space-md)) !important;
    left: var(--space-sm);
  }
  // @include debugSquare(calc(var(--space-md) * 0.96));
  .header {
    padding: calc(var(--space-md) * 0.8) var(--space-md)
      calc(var(--space-md) * 0.55);
  }

  form {
    .form-row {
      // display: flex;
      // align-items: baseline !important;
      display: block;
      label {
        white-space: nowrap;
      }
    }
    // span.text-red {
    //   display: none;
    // }
    label {
      white-space: initial;
      vertical-align: baseline;
      line-height: 1;
    }
    input {
      // background-color: orange !important;
      // width: 100%;
      border: none;
      color: var(--color-purple) !important;
      line-height: 1;
      margin: unset;
      display: initial;
      width: auto;
      max-width: 19em;
      &:is(:-webkit-autofill, :-moz-autofill, :autofill) {
        color: var(--color-purple) !important;
        background-color: transparent !important;
      }
      &:focus {
        color: var(--color-purple);
      }
      &::placeholder {
        color: transparent;
      }
    }
    span.label {
      hyphens: auto;
    }
    button[type="submit"] {
      // background-color: var(--color-blue);
      // color: white;
      border-bottom-right-radius: var(--radius-sm);
      border-bottom-left-radius: var(--radius-sm);
      text-align: center;
      width: 100%;
      padding: 0.5em;
    }
  }
}
