@import "reset";
@import "variables";
@import "vendor/flexboxgrid/flexboxgrid";
// @import 'vendor/slickslider/slick';

@import "mixins";
@import "utils";
@import "typography";
@import "layout";
@import "animations";

@import "components/ui/forms";
@import "components/ui/uis";
@import "components/ui/cookie";
@import "components/ui/mailchimp";
// @import "components/ui/checkbox-ui";
// @import "components/ui/ui-size-slider";
// @import "components/ui/range-ui";

@import "components/header";
@import "components/footer";
@import "components/nav-tertiary";
@import "components/card";
@import "components/infos";
@import "components/buy";
@import "components/section--trinkets";
@import "components/section--in-use";
@import "components/section--typefaces";
@import "components/content-trials";

@import "templates/home";
@import "templates/product";
@import "templates/trials";
@import "templates/infos";

@import "shop/all";
@import "shop/cart";
@import "shop/buy-modal-notices";
