@import "reset";
@import "variables";
@import "vendor/flexboxgrid/flexboxgrid";
// @import 'vendor/slickslider/slick';

@import "mixins";
@import "utils";

@import "typography";

@import "layout";

@import "components/ui/forms";
@import "components/ui/uis";
@import "components/ui/cookie";
// @import "components/ui/checkbox-ui";
// @import "components/ui/ui-size-slider";
// @import "components/ui/range-ui";

@import "components/header";
@import "components/footer";
@import "components/card";
@import "components/infos";
@import "components/buy";
@import "components/section--in-use";
@import "components/section--typefaces";

@import "templates/home";
@import "templates/product";
@import "templates/trials";

@import "shop/all";
