<input class="snipcart-add-item- " data-item-id="e45091660478" data-item-price="100" data-item-url="/licensing"
  data-item-description="ze blurb" data-item-name="Tupeface nem Essential" data-item-stackable="never"
  data-item-custom0-name="Licence Size" data-item-custom0-type="readonly" data-item-custom0-value="<5"
  data-item-custom1-placeholder="Licence" data-item-custom1-name="Print Desktop" data-item-custom1-type="checkbox"
  data-item-custom1-options="true[+0]|false" data-item-custom1-value="true" data-item-custom2-placeholder="Licence"
  data-item-custom2-name="Web" data-item-custom2-type="checkbox" data-item-custom2-options="true[+30]|false"
  data-item-custom2-value="false" data-item-custom3-placeholder="Licence" data-item-custom3-name="Logo Wordmark"
  data-item-custom3-type="checkbox" data-item-custom3-options="true[+90]|false" data-item-custom3-value="false"
  data-item-custom4-placeholder="Licence" data-item-custom4-name="App" data-item-custom4-type="checkbox"
  data-item-custom4-options="true[+30]|false" data-item-custom4-value="false" data-item-custom5-placeholder="Licence"
  data-item-custom5-name="Video" data-item-custom5-type="checkbox" data-item-custom5-options="true[+30]|false"
  data-item-custom5-value="false"
  data-item-metadata="{&quot;_type&quot;:&quot;licenseSize&quot;,&quot;_key&quot;:&quot;ab9d8eba7c81&quot;,&quot;title&quot;:&quot;<5&quot;,&quot;licenseType&quot;:[{&quot;price&quot;:0,&quot;_type&quot;:&quot;licenseType&quot;,&quot;label&quot;:&quot;Print Desktop&quot;,&quot;_key&quot;:&quot;322e751c09d8&quot;},{&quot;price&quot;:30,&quot;_type&quot;:&quot;licenseType&quot;,&quot;label&quot;:&quot;Web&quot;,&quot;_key&quot;:&quot;5c842a51d175&quot;},{&quot;price&quot;:90,&quot;_type&quot;:&quot;licenseType&quot;,&quot;label&quot;:&quot;Logo Wordmark&quot;,&quot;_key&quot;:&quot;bd6ff76afa63&quot;},{&quot;label&quot;:&quot;App&quot;,&quot;_key&quot;:&quot;22342f37a0548a1ee43f14da52b33eae&quot;,&quot;price&quot;:30,&quot;_type&quot;:&quot;licenseType&quot;},{&quot;price&quot;:30,&quot;_type&quot;:&quot;licenseType&quot;,&quot;label&quot;:&quot;Video&quot;,&quot;_key&quot;:&quot;fb4e980a81dc&quot;}]}"
  type="checkbox" name="atc">