html:has(.template--home) {
  overflow: hidden;
  body {
    overflow: auto;
  }
}
body[data-template="is-home"],
.template--home {
  scroll-snap-type: y mandatory;
  .content--home > section {
    scroll-snap-align: start;
    min-height: 100vh;
    &.section--typefaces {
      padding-top: calc(var(--header-height) * 2);
    }
  }
}

@media all and (max-width: $sm) {
  .page-home {
  }
}
