html:has(.template--home) {
  overflow: hidden;
  body {
    overflow: auto;
  }
}
body[data-template="is-home"],
.template--home {
  scroll-snap-type: y mandatory;
  .content--home > section {
    scroll-snap-align: start;
    min-height: 100vh;
    position: relative;
    &.section--typefaces {
      // padding-top: calc(var(--header-height) * 2);
    }
  }
  .tinkets {
    .infos {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: red;
    }
  }
}

@media all and (max-width: $sm) {
  .page-home {
  }
}
