body[data-template="is-product"],
.template--product {
  padding-bottom: calc(var(--footer-height) * 2);

  .glyphs .item {
    font-family: var(--typeface);
  }
  .type-tester--hero {
    position: relative;

    .items {
      height: calc(var(--vh) * 100);
      @include flex_center_h_v;
      flex-direction: column;
      // text-align: left;
      // align-items: start;
      // font-feature-settings: var(--type-features);
      .item {
        // font-size: 8vw;
        font-size: 7vh;
        line-height: 1;
        text-align: center;
      }
    }
    .composition-tool {
      // display: none;
      &.is-active .modal {
        display: block;
      }
      .btn-toggle {
        position: absolute;
        left: 50%;
        bottom: calc(var(--footer-height) + 11px);
        transform: translateX(-50%);
        z-index: 251;
        text-align: center;
        padding-right: 0.6em;
      }
      .modal {
        display: none;
        background-color: white;
        position: fixed;
        inset: 0;
        z-index: 251;
        padding: calc(var(--header-height) * 2) calc(var(--space-lg) + 25px)
          var(--footer-height);
        .inner {
          display: inline-block;
        }
        .faden-kreuz {
          position: absolute;
          width: 25px;
          height: 25px;
          &::before,
          &::after {
            content: "";
            background-color: black;
            position: absolute;
            display: inline-block;
          }
          &::before {
            width: 1px;
            height: 100%;
          }
          &::after {
            width: 100%;
            height: 1px;
          }
          &--tl {
            transform: rotate(-180deg);
            left: -25px;
            top: -25px;
          }
          &--tr {
            transform: rotate(-90deg);
            right: -25px;
            top: -25px;
          }
          &--br {
            right: -25px;
            bottom: -25px;
          }
          &--bl {
            transform: rotate(90deg);
            bottom: -25px;
            left: -25px;
          }
        }
        .text-editor {
          resize: both;
          overflow: auto;
          overflow: hidden;
          font-size: 2em;
          width: 64rem;
          height: 6em;
          max-height: calc(var(--vh) * 100 - var(--header-height) * 4);
          padding: 0.2em 0;

          color: var(--type-color);
          font-size: var(--type-textFontSize);
          letter-spacing: var(--type-textLetterSpacing);
          line-height: var(--type-textLineHeight);
          font-family: var(--type-family);
          text-align: var(--type-textAlign);
          text-transform: var(--type-textTransform);
          // font-feature-settings: var(--type-features);
          font-feature-settings: var(--font-feature-settings);
          font-variation-settings: var(--font-variation-settings);
          column-count: var(--type-columnCount);

          word-break: break-word;
          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */
          &::selection {
            background-color: var(--color-gray);
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
        .btn-close {
          position: absolute;
          right: var(--space-lg);
          top: calc(var(--header-height) * 2 - 25px);
          color: red;
          z-index: 20;
        }
        .footer {
          display: grid;
          grid-template-columns: repeat(8, minmax(0, 1fr));
          grid-template-columns: repeat(7, minmax(0, 1fr));
          // display: flex;
          // justify-content: space-between;
          position: absolute;
          bottom: 0;
          padding: var(--footer-height) var(--space-lg)
            calc(var(--footer-height) + 11px);
          // padding-bottom: toRem(17);
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: var(--space-md) 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: var(--space-md);
    }
  }

  .content {
    .text {
      transform: translateY(-0.2em);
    }
    @media all and (min-width: $md) {
      .md\:col-span-8 {
        grid-column: span 8 / span 8;
      }
    }
    .col-span-8 ~ .col-span-8 {
      grid-row: span 7 / span 7;
    }
    .module--sidebar-ui {
      grid-row: span 8 / span 8;
    }
  }

  .glyphs {
    // display: grid;
    .overview {
      position: fixed;
      inset: 0;
      // @include flex_center_h_v;
      display: grid;
      place-items: center;
      pointer-events: none;
      font-size: 70vh;
      span {
        display: inline-block;
        min-width: 50vw;
        margin: 0 auto;
        text-align: center;
        // line-height: 1;
        // transform: translateY(-3vh);
        // transform: translateY(3vh);
      }
    }
    .grid {
      // border-top: var(--border);
      // border-left: var(--border);
      // grid-template-columns: repeat(12, minmax(0, 1fr));
      // gap: 0;
      display: flex;
      flex-wrap: wrap;
    }
    .item {
      // width: calc(6.04em - 2px);
      // height: calc(6.04em - 2px);
      aspect-ratio: 1 / 1;
      // height: 100%;
      text-align: center;
      display: flex;
      -moz-box-align: center;
      align-items: center;
      -moz-box-pack: center;
      justify-content: center;
      width: toRem(51);
      height: toRem(51);
      cursor: pointer;
      // border-right: var(--border);
      // border-bottom: var(--border);
      transition:
        font-size 0.2s,
        transform 0.2s;
      @include debugOutline(-0.5px, black);
      &::after {
        z-index: 0;
      }

      background-color: white;
      // font-size: var(--text-lg);
      font-size: 24px;
      .glyph,
      .unicode {
        pointer-events: none;
      }
      .glyph {
        transform: translateY(-0.2em);
      }
      .unicode {
        font-size: 10px;
        position: absolute;
        bottom: 2px;
      }
    }
  }

  @media all and (max-width: $md) {
    .composition-tool {
      display: none;
    }
    .content {
      .text {
        transform: translateY(-0.2em);
        .text-muted {
          font-size: var(--text-xs);
        }
      }
      .col-span-8 ~ .col-span-8 {
        grid-row: unset;
      }
      .module--sidebar-ui {
        grid-row: unset;
      }
    }
    .glyphs {
      .item {
        width: calc(100% / 7);
      }
      .overview {
        font-size: 50vh;
      }
    }
  }
}
