body[data-template="is-product"],
.template--product {
  main {
    // padding-top: var(--header-height);
  }
  // .contenteditable,
  // .modules .module--text-ui,
  .glyphs .item {
    font-family: var(--typeface);
  }
  .type-tester--hero {
    position: relative;
    // padding-top: var(--header-height);
    // max-width: 100vw;
    // max-height: 100vh;
    // overflow: clip;

    .items {
      height: calc(var(--vh) * 100);
      @include flex_center_h_v;
      flex-direction: column;
    }
    .type-tester {
      // height: calc(var(--vh) * 100);
      // @include flex_center_h_v;
      // flex-direction: column;
    }
    .contenteditable {
      // height: calc(var(--vh) * 100 - var(--header-height));
      // width: 100%;
      // @include flex_center_h_v;

      white-space: pre-line;

      text-align: center;
      text-overflow: clip;
      // overflow-y: scroll;
    }
    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: var(--space-md) 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: var(--space-md);
    }
  }

  .content {
    .text {
      transform: translateY(-0.2em);
    }
    .col-span-8 ~ .col-span-8 {
      grid-row: span 7 / span 7;
    }
    .module--sidebar-ui {
      grid-row: span 8 / span 8;
    }
  }

  @media all and (max-width: $md) {
  }
}
