body[data-template="is-trials"],
.template--trials {
  main {
    // padding-top: var(--header-height);

    .list {
      // border-top: var(--border);
      // border-bottom: var(--border);
    }
    ._row {
      border-top: var(--border);
      // border-bottom: var(--border);
      padding: 0.5em 0.5em 0.5em 0;
      // &:last-child {
      //   border: none;
      // }
    }
    .btn-toggle {
      transition: transform 0.2s;
    }
    .item {
      // border-bottom: var(--border);
      &:last-child {
        border: none;
      }
      &.is-active {
        .btn-toggle {
          transform: rotate(45deg);
        }
      }
      .grid {
      }
    }
  }
  .template--trials {
    @media all and (max-width: $md) {
      padding-top: calc(var(--header-height) + 0.2em);
      // padding-top: 0;
    }
  }
}
