.mailchimp-dialog {
  pointer-events: all;
  .text-red {
    color: red;
    font-size: 18px;
  }
  form {
    .fields {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    // label,
    // input {
    //   line-height: 1 !important;
    //   border: none !important;
    //   margin: 0 !important;
    //   // vertical-align: unset;
    //   display: block;
    // }
    input {
      // line-height: 0.5 !important;
      // border: none !important;
      // margin: 0 !important;
    }
    button[type="submit"] {
      margin-top: calc(var(--space-md) * 0.8);
      width: 100%;
      height: auto;
      padding: 0.3em;
      display: block;
      line-height: unset;
      // background-color: var(--color-gray-25);
      // color: #707077;
    }
    // &.is-valid button[type="submit"] {
    //   background-color: var(--color-green);
    //   color: white;
    // }
  }
  @media all and (max-width: $md) {
    form {
      .fields {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      button[type="submit"] {
        padding: 0.5em;
      }
    }
  }
}

.is-safari .mailchimp-dialog {
  form .form-row {
    // align-items: end;
    align-items: center;
    padding-left: 1rem;
    span {
      position: absolute;
      left: 0;
    }
  }
}
