.button-disabled {
  @apply bg-gray-25 text-gray-100;
}
.button-submit {
  @apply bg-green text-white;
}

.button-ui {
  background-color: var(--color-gray);
  border-radius: var(--radius-sm);
  padding: 3px 5px;
  padding: 0.4em 2.5em;
  &--icon-arrow {
    position: relative;
    // width: 100%;
    display: block;
    padding: 0.4em 0.84em;

    &::after {
      content: "▶";
      position: absolute;
      right: 5px;
    }
  }
}

.ui-size-slider {
  background-color: var(--color-gray);
  border-radius: toRem(5);
}

.range-ui {
  background-color: var(--color-gray);
  border-radius: var(--radius-sm);
  padding: 3px 5px 2px;
  padding: 0 7.5px;
  padding: 0.4em 7.5px;
  height: toRem(24);
  // line-height: toRem(28);
  max-width: 188px;
  display: flex;
  align-items: center;
  .flex {
    // display: block;
    width: 100%;
    gap: 0.2em;
    transform: translateY(0.4px);

    * {
      display: inline;
      line-height: 1;
    }
  }
  label {
    // position: absolute;
    // pointer-events: none;
    // left: 2.3em;
  }

  .value {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  input {
    appearance: none;
    background-color: none;
    border: none;
    max-width: calc(100% - 2.5em);
    max-width: 50px;
    // &::-moz-range-thumb,
    &::-webkit-slider-thumb {
      appearance: none;
      // background: currentColor;
      border: none;
      cursor: pointer;
      background: black;
      border-radius: 1em;
      height: 10px;
      width: 9px;
    }
    ::-moz-range-thumb {
      background: black;
      border-radius: 1em;
      height: 10px;
      width: 9px;
      cursor: pointer;
    }
  }
}

// .footer {
//   @include debugFiletY(50%);
// }
.select-ui {
  max-width: 188px;
  position: relative;
  display: inline-block;
  select {
    display: inline-block;
    width: 100%;
    appearance: none;
    /* safari */
    -webkit-appearance: none;

    background-color: var(--color-gray);
    padding: 0px 7.5px 0px 2rem;
    padding: 0.5em 2.5em 0.3em 1.5rem;
    // height: toRem(24);
    // line-height: toRem(26);
    max-width: 188px;
    border-radius: var(--radius-sm);
    color: #000;
    cursor: pointer;
    &:disabled {
      opacity: 0.2;
      cursor: none;
    }
  }
  &::before {
    --size: 0.3rem;
    content: "◥";
    position: absolute;
    pointer-events: none;
    left: 8px;
    top: 29%;
  }
  &.is-active::before {
    content: "▴";
  }
}
.is-chrome .select-ui {
  &::before {
    top: 24%;
  }
  select {
    // background-color: red;
    padding: 0.4em 2.5em 0.4em 1.5rem;
  }
}
.color-ui {
  display: flex;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: var(--radius-sm);
  padding: 0px 7.5px;
  padding: 0.4em 2.5em 0.4em 0.4em;
  padding: 0;
  height: toRem(24);
  // line-height: toRem(28);
  max-width: 188px;

  .flex {
    // display: block;
    width: 100%;
    gap: 0.2em;
    transform: translateY(1.2px);

    * {
      display: inline;
      line-height: 1;
    }
  }
  label {
    width: 100%;
    cursor: pointer;
    padding: 0.4em 2.5em 0.4em 0.4em;
    display: block;
  }
  input {
    position: absolute;
    visibility: hidden;
  }
  span {
    position: absolute;
    right: 2.5em;
  }
}

.checkbox-ui {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  label {
    position: relative;

    cursor: pointer;
    display: flex;
    align-items: baseline;
  }
  input {
    appearance: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  input:checked ~ .checkmark {
    background-color: black;
    // display: block;
  }
  .checkmark {
    display: inline-block;
    border: var(--border);
    border-radius: 1em;
    height: 10px;
    width: 9px;
    transform: translateY(1px);

    background-color: transparent;
    // &:after {
    //   content: "";
    //   position: absolute;
    // }
  }
  .label {
    padding: 0 !important;
    padding-left: 0.5em !important;
    display: inline-block;
  }
}
.snipcart-checkbox {
  & + label::before,
  & + label::after {
    content: "";
    height: 10px;
    width: 9px;
    border: var(--border);
    border-radius: 1em;
    display: inline-block;
    margin-right: 10px;
    background-color: transparent;
  }
  & + label::after {
    opacity: 0;
    display: none;
  }
  &:checked + label::before {
    border: none;
    box-shadow: none;
    background-color: transparent;
    // background-color: red;
  }
  &:checked + label::before {
    background-color: black;
  }
  // &:checked + label::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   background-color: black;
  //   box-shadow: unset;
  //   height: 10px;
  //   width: 9px;
  //   transform: rotate(0deg);
  //   opacity: 1;
  // }
}

.paragraph-ui {
  display: flex;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: var(--radius-sm);
  padding: 3px 7.5px;
  // max-width: 188px;
  ul.text-align {
    padding-top: 0.3em;
  }
}
